*,
a:hover {
	text-decoration: none;
}

h1,
h1 a,
h1 a:hover,
h2,
h3,
p {
	color: #005656;
}

h1 {
	padding: 2rem;
	margin: 0;
}

p {
	font-size: 2rem;
}

/**********Top Navigation Section**********/
.navbar,
.navbar-default,
.navbar-fixed-top,
.navbar-header {
	/*STYLE DECLARATIONS*/
	background-color: white;
}

.navbar-header {
	/*LAYOUT DECLARATIONS*/
	width: 100%;
}

.navbar-link {
	/*LAYOUT DECLARATIONS*/
	display: inline-block;
	padding: 1rem 1rem 0 1rem;
	/*STYLE DECLARATIONS*/
	font-size: 2rem;
	color: #838994;
}

.navbar-link:hover {
	/*STYLE DECLARATIONS*/
	color: #005656;
}

/**********6 Reasons Yogis Prefer FlowMats Section**********/
.col-md-4 {
	/*LAYOUT DECLARATIONS*/
	padding-bottom: 2rem;
}

/**********Product Option Section**********/
.btn {
	/*LAYOUT DECLARATIONS*/
	margin: 2rem;
}

/**********Footer Section**********/
.footer a,
.footer p {
	/*STYLE DECLARATIONS*/
	color: white;
}

.footer ul {
	/*LAYOUT DECLARATIONS*/
	padding: 0;
}

.footer ul li {
	/*LAYOUT DECLARATIONS*/
	list-style: none;
	display: inline-block;
}

.fa-facebook-official,
.fa-instagram {
	/*LAYOUT DECLARATIONS*/
	padding: 10px;
	/*STYLE DECLARATIONS*/
	color: white;
}

.attribution {
	/*LAYOUT DECLARATIONS*/
	padding-bottom: 2rem;
	/*STYLE DECLARATIONS*/
	font-size: 1.2rem;
}

.attribution a:hover {
	/*STYLE DECLARATIONS*/
	color: gray;
}